.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
  transform: translateY(-150%);
  transition: 0.5s;
  &.active {
    transform: translateY(0);
  }
  &__left {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }
  .page-inner {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    margin-right: 130px;
  }
  &__ele {
    text-align: center;
    &:nth-of-type(n + 2) {
      margin-left: 25px;
    }
    &_link {
      position: relative;
      display: block;
      text-decoration: none;
      font-size: 1.7rem;
      transition: 0.3s;
      font-weight: bold;
      transition: 0.3s;
      letter-spacing: 1px;
      line-height: 1.4;
      small {
        font-size: 1.2rem;
        color: #b3b3b3;
        font-weight: lighter;
      }
      &::after,&::before {
        content: "";
        position: absolute;
        top: -10px;
        left: -10px;
        height: 10px;
        width: 20px;
        border-top: 3px solid #76bddf;
        border-left: 3px solid #76bddf;
        opacity: 0;
        transition: 0.4s;
      }
      &::before {
        top: auto;
        left: auto;
        right: -10px;
        bottom: -5px;
        border-top: none;
        border-left: none;
        border-bottom: 3px solid #76bddf;
        border-right: 3px solid #76bddf;
      }
      &:hover {
        color: #000;
        &::after,&::before {
          opacity: 1; 
        }        
      }
      figure {
        margin: 0;
      }
    }
  }
  &__contact {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    display: flex;
    align-items: center;
    height: 100px;
    background:linear-gradient(to right, #c8296e, #c8555f); /* IE */
    padding: 0 13px;
    font-size: 1.4rem;
    border-radius: 0 0 15px 15px;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: 100%;
      border: 2px solid #c8296e;
      border-radius: 0 0 15px 15px;
      pointer-events: none;
      opacity: 0;
      transition: 0.3s;
    }
    &:hover {
      &::after {
        height: 105%;
        width: 105%;
        opacity: 1;
      }
    }
    * {
      color: #fff;
    }
    div {
      font-weight: bold;
      figure {
        margin: 0 0 5px;
      }
    }
  }
}