meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="description", content=".movは栃木県宇都宮市を活動拠点とする動画制作チームです。 企業紹介、採用、商品紹介動画など様々なジャンルの動画を制作しています。 ドローンを使用した撮影やアニメーションなど、表現手法も豊富で、ビジネスを最適化する動画コンテンツをご提供していきます。")
meta(name="keywords", content="栃木県,宇都宮市,動画,動画制作,mov")  