doctype
html(lang="ja")
head
  include _include/meta
  title 動画制作・映像制作なら.mov｜株式会社Revision
  link(rel='stylesheet', href="../css/style.css")
  link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css")
body
  header.header
    .header__left
      img(src="../assets/images/common/logo.png", alt="mov")
    .page-inner
      .header__right
        ul.header__list
          li.header__ele
            a.header__ele_link(href="#strengths") 
              figure
                img(src="../assets/images/common/header_txt01.svg", alt="4 STRENGTHS")
              |4つの強み
          li.header__ele
            a.header__ele_link(href="#technique")
              figure
                img(src="../assets/images/common/header_txt02.svg", alt="TECHNIQUE")
              |動画手法
          li.header__ele
            a.header__ele_link(href="#works")
              figure
                img(src="../assets/images/common/header_txt03.svg", alt="WORKS")
              |制作実績
          li.header__ele
            a.header__ele_link(href="#plan")
              figure
                img(src="../assets/images/common/header_txt04.svg", alt="PLAN")
              |料金表
          li.header__ele
            a.header__ele_link(href="#flow")
              figure
                img(src="../assets/images/common/header_txt05.svg", alt="FLOW")
              |納品までの流れ
          li.header__ele
            a.header__ele_link(href="#voice")
              figure
                img(src="../assets/images/common/header_txt06.svg", alt="VOICE")
              |お客様の声
        a.header__contact(href="#contact")
          div
            figure
              img(src="../assets/images/common/header_icon01.png", alt="無料相談する")
            |無料相談
            span.pc する
        .header__h-menu.sp
          div
            .header__h-menu_wrap
              span
              span
              span
            |MENU
  .container
    sectiuon.mv
     .mv__txtWrap.wow.fadeIn(data-wow-delay="1s")
      h3.mv__txtWrap_ttl
       |集客・採用・ブランディング
       br
       |のための動画制作
      p.mv__txtWrap_txt
       |Attracting customers / Recruiting / Branding
       br
       |Video production for
      a.mv__txtWrap_link.cv-btn(href="#contact") まずは無料相談する
    section.catch#catch
      .page-inner
        h2.catch__ttl.wow.fadeInUp 動画は「広告」であり
          br.sp
          |「作品」ではない
        p.catch__txt.wow.fadeInUp
          |近年、動画は5Gや動画媒体の普及により、企業のプロモーションに欠かせない
          br.pc
          |ツールの一つとなっており、WebサイトやSNSなどと組み合わせることで高い 効果を発揮します。 
          br
          |movでは商品やサービスの魅力を引き出し、集客・採用・売上に直結する
          br.pc
          |最適な動画マーケティングプランをご提案します
    section.possible#possible
      .page-inner
        h2.possible__ttl.wow.fadeInUp .movでは様々な目的に合わせた
          br.sp
          |動画制作が可能です
        ul.possible__list
          li.possible__ele.wow.fadeInUp(data-wow-delay="0.1s")
            figure
              img(src="../assets/images/top/possible_icon01.png", alt="サービス紹介")
            |サービス紹介
          li.possible__ele.wow.fadeInUp(data-wow-delay="0.2s")
            figure
              img(src="../assets/images/top/possible_icon02.png", alt="広告 CM")
            |広告 CM
          li.possible__ele.wow.fadeInUp(data-wow-delay="0.3s")
            figure
              img(src="../assets/images/top/possible_icon03.png", alt="商品説明")
            |商品説明
          li.possible__ele.wow.fadeInUp(data-wow-delay="0.4s")
            figure
              img(src="../assets/images/top/possible_icon04.png", alt="展示会")
            |展示会
          li.possible__ele.wow.fadeInUp(data-wow-delay="0.5s")
            figure
              img(src="../assets/images/top/possible_icon05.png", alt="マニュアル")
            |マニュアル
          li.possible__ele.wow.fadeInUp(data-wow-delay="0.6s")
            figure
              img(src="../assets/images/top/possible_icon06.png", alt="お客様の声")
            |お客様の声
          li.possible__ele.wow.fadeInUp(data-wow-delay="0.7s")
            figure
              img(src="../assets/images/top/possible_icon07.png", alt="会社紹介")
            |会社紹介
          li.possible__ele.wow.fadeInUp(data-wow-delay="0.8s")
            figure
              img(src="../assets/images/top/possible_icon08.png", alt="施設・学校")
            |施設・学校
          li.possible__ele.wow.fadeInUp(data-wow-delay="0.9s")
            figure
              img(src="../assets/images/top/possible_icon09.png", alt="教育研修")
            |教育研修
          li.possible__ele.wow.fadeInUp(data-wow-delay="1s")
            figure
              img(src="../assets/images/top/possible_icon10.png", alt="イベント")
            |イベント
          li.possible__ele.wow.fadeInUp(data-wow-delay="1.1s")
            figure
              img(src="../assets/images/top/possible_icon11.png", alt="セミナー")
            |セミナー
          li.possible__ele.wow.fadeInUp(data-wow-delay="1.2s")
            figure
              img(src="../assets/images/top/possible_icon12.png", alt="新卒採用")
            |新卒採用
    section.strengths#strengths
      .page-inner
        h2.strengths__ttl.sec__tll.wow.fadeInUp .movの4つの強み
          br
          span 4 STRENGTHS
        ul.strengths__list
          li.strengths__ele
            div
              figure.strengths__ele_img.wow.fadeIn
                img(src="../assets/images/top/strengths_img01.jpg", alt="マーケティングに基づく動画制作")
              .strengths__ele_txtWrap
                div
                  h4.strengths__ele_txtWrap_ttl.wow.fadeIn(data-wow-delay="0.1s")
                    span.strengths__ele_txtWrap_ttl--num
                    br
                    |マーケティングに基づく動画制作
                  p.strengths__ele_txtWrap_txt.wow.fadeIn(data-wow-delay="0.3s")
                    |ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
                    br
                    |ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
                    br
                    |ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
                    br
                    |ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
          li.strengths__ele
            div
              figure.strengths__ele_img.wow.fadeIn
                img(src="../assets/images/top/strengths_img02.jpg", alt="Webサイトとの連携も対応")
              .strengths__ele_txtWrap
                div
                  h4.strengths__ele_txtWrap_ttl.wow.fadeIn(data-wow-delay="0.1s")
                    span.strengths__ele_txtWrap_ttl--num
                    br
                    |Webサイトとの連携も対応
                  p.strengths__ele_txtWrap_txt.wow.fadeIn(data-wow-delay="0.3s")
                    |ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
                    br
                    |ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
                    br
                    |ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
                    br
                    |ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
          li.strengths__ele
            div
              figure.strengths__ele_img.wow.fadeIn
                img(src="../assets/images/top/strengths_img03.jpg", alt="企画・制作・運用がワンストップ")
              .strengths__ele_txtWrap
                div
                  h4.strengths__ele_txtWrap_ttl.wow.fadeIn(data-wow-delay="0.1s")
                    span.strengths__ele_txtWrap_ttl--num
                    br
                    |企画・制作・運用がワンストップ
                  p.strengths__ele_txtWrap_txt.wow.fadeIn(data-wow-delay="0.3s")
                    |ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
                    br
                    |ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
                    br
                    |ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
                    br
                    |ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
          li.strengths__ele
            div
              figure.strengths__ele_img.wow.fadeIn
                img(src="../assets/images/top/strengths_img04.jpg", alt="高品質・適正な価格")
              .strengths__ele_txtWrap
                div
                  h4.strengths__ele_txtWrap_ttl.wow.fadeIn(data-wow-delay="0.1s")
                    span.strengths__ele_txtWrap_ttl--num
                    br
                    |高品質・適正な価格
                  p.strengths__ele_txtWrap_txt.wow.fadeIn(data-wow-delay="0.3s")
                    |ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
                    br
                    |ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
                    br
                    |ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
                    br
                    |ここに文章が入ります。ここに文章が入ります。ここに文章が入ります。
    section.technique#technique
      .page-inner
        h2.technique__ttl.sec__tll.wow.fadeInUp 最新の動画手法もお任せください
          br
          span VIDEO TECHNIQUE
        ul.technique__list
          li.technique__ele.wow.fadeInLeft(data-wow-duration="1.5s")
            .technique__ele_wrap
              h4.technique__ele_ttl
                |DRONE
                br
                |SHOOTING
                br
                span.technique__ele_ttl--ja ドローン撮影
              figure.technique__ele_img
                img(src="../assets/images/top/technique_img01.png", alt="ドローン撮影")
              p.technique__ele_txt
                |自社でドローンを所有。
                br
                |空からの視点は他にはない心躍る映像に仕上がります。
          li.technique__ele.wow.fadeInRight
            .technique__ele_wrap
              h4.technique__ele_ttl
                |ANIMATION
                br
                |CREATION
                br
                span.technique__ele_ttl--ja アニメーション作成
              figure.technique__ele_img
                img(src="../assets/images/top/technique_img02.png", alt="アニメーション作成")
              p.technique__ele_txt
                |グローバルな発信には最適です。
                br
                |リアルな映像と組み合わせる演出も可能。
          li.technique__ele.wow.fadeInLeft(data-wow-duration="1.5s")
            .technique__ele_wrap
              h4.technique__ele_ttl
                |CINEMA
                br
                |GRAPH
                br
                span.technique__ele_ttl--ja シネマグラフ
              figure.technique__ele_img
                img(src="../assets/images/top/technique_img03.png", alt="シネマグラフ")
              p.technique__ele_txt
                |写真の一部が動いて見える不思議な映像です。
                br
                |水流や湯気、キャンドル等なんでも動かせます。
          li.technique__ele.wow.fadeInRight
            .technique__ele_wrap
              h4.technique__ele_ttl
                |UNDERWATER
                br
                |VIDEO
                br
                span.technique__ele_ttl--ja 水中映像
              figure.technique__ele_img
                img(src="../assets/images/top/technique_img04.png", alt="水中映像")
              p.technique__ele_txt
                |海 川 湖 プールなどで水中撮影を行います。
                br
                |確かな技術で鮮やかな映像をご提供します。
          li.technique__ele.wow.fadeInLeft(data-wow-duration="1.5s")
            .technique__ele_wrap
              h4.technique__ele_ttl
                |MOTION
                br
                |GRAPHICS
                br
                span.technique__ele_ttl--ja モーショングラフィックス
              figure.technique__ele_img
                img(src="../assets/images/top/technique_img05.png", alt="モーショングラフィックス")
              p.technique__ele_txt
                |ロゴやイラストに動きを加えることができます。
                br
                |人々の注目を集め記憶に残す映像手法です。
    section.works#works
      .page-inner
        h2.works__ttl.sec__tll.wow.fadeInUp 動画制作の実績
          br
          span WORKS
        p.works__txt.wow.fadeInUp
          |地元栃木県を中心に、全国各地の企業様からお問い合わせいただいております。
          br
          |商品・サービスのプロモーションや、採用や社内研修、企業ブランディングなど、 
          br.pc
          |ビジネスにおけるさまざまなコミュニケーションシーンでご活用いただいております。
        ul.works__logo_list
          li.works__logo_ele.wow.fadeInUp(data-wow-delay="0.1s")
            figure.works__logo_ele_img
              img(src="../assets/images/top/works_img01.png", alt="自治医科大学")
          li.works__logo_ele.wow.fadeInUp(data-wow-delay="0.2s")
            figure.works__logo_ele_img
              img(src="../assets/images/top/works_img02.png", alt="ATELIER")
          li.works__logo_ele.wow.fadeInUp(data-wow-delay="0.3s")
            figure.works__logo_ele_img
              img(src="../assets/images/top/works_img03.png", alt="NJKF")
          li.works__logo_ele.wow.fadeInUp(data-wow-delay="0.4s")
            figure.works__logo_ele_img
              img(src="../assets/images/top/works_img04.png", alt="FORBUL")
          li.works__logo_ele.wow.fadeInUp(data-wow-delay="0.5s")
            figure.works__logo_ele_img
              img(src="../assets/images/top/works_img05.png", alt="TAKA HARI English")
        ul.works__list
          li.works__ele.wow.fadeIn(data-wow-delay="0.1s")
            .works__ele_wrap
              figure.works__ele_img
                img(src="../assets/images/top/works_photo01.jpg", alt="ビューティーアトリエグループ  様")
              .works__ele_tagWrap
                span.works__ele_tagWrap--tag 実写
                span.works__ele_tagWrap--tag 会社紹介・会社PR
                span.works__ele_tagWrap--tag 新卒・中途採用
              .works__ele_ttl
                |ビューティーアトリエグループ  様
              .works__ele_txt
                |リクルートムービー【座談会】
          li.works__ele.wow.fadeIn(data-wow-delay="0.2s")
            .works__ele_wrap
              figure.works__ele_img
                img(src="../assets/images/top/works_photo02.jpg", alt="ビューティーアトリエグループ  様")
              .works__ele_tagWrap
                span.works__ele_tagWrap--tag 実写
                span.works__ele_tagWrap--tag 会社紹介・会社PR
                span.works__ele_tagWrap--tag 新卒・中途採用
              .works__ele_ttl
                |ビューティーアトリエグループ  様
              .works__ele_txt
                |リクルートムービー【座談会】
          li.works__ele.wow.fadeIn(data-wow-delay="0.3s")
            .works__ele_wrap
              figure.works__ele_img
                img(src="../assets/images/top/works_photo03.jpg", alt="ビューティーアトリエグループ  様")
              .works__ele_tagWrap
                span.works__ele_tagWrap--tag 実写
                span.works__ele_tagWrap--tag 会社紹介・会社PR
                span.works__ele_tagWrap--tag 新卒・中途採用
              .works__ele_ttl
                |ビューティーアトリエグループ  様
              .works__ele_txt
                |リクルートムービー【座談会】
          li.works__ele.wow.fadeIn(data-wow-delay="0.4s")
            .works__ele_wrap
              figure.works__ele_img
                img(src="../assets/images/top/works_photo04.jpg", alt="ビューティーアトリエグループ  様")
              .works__ele_tagWrap
                span.works__ele_tagWrap--tag 実写
                span.works__ele_tagWrap--tag 会社紹介・会社PR
                span.works__ele_tagWrap--tag 新卒・中途採用
              .works__ele_ttl
                |ビューティーアトリエグループ  様
              .works__ele_txt
                |リクルートムービー【座談会】
          li.works__ele.wow.fadeIn(data-wow-delay="0.5s")
            .works__ele_wrap
              figure.works__ele_img
                img(src="../assets/images/top/works_photo05.jpg", alt="ビューティーアトリエグループ  様")
              .works__ele_tagWrap
                span.works__ele_tagWrap--tag 実写
                span.works__ele_tagWrap--tag 会社紹介・会社PR
                span.works__ele_tagWrap--tag 新卒・中途採用
              .works__ele_ttl
                |ビューティーアトリエグループ  様
              .works__ele_txt
                |リクルートムービー【座談会】
          li.works__ele.wow.fadeIn(data-wow-delay="0.6s")
            .works__ele_wrap
              figure.works__ele_img
                img(src="../assets/images/top/works_photo06.jpg", alt="ビューティーアトリエグループ  様")
              .works__ele_tagWrap
                span.works__ele_tagWrap--tag 実写
                span.works__ele_tagWrap--tag 会社紹介・会社PR
                span.works__ele_tagWrap--tag 新卒・中途採用
              .works__ele_ttl
                |ビューティーアトリエグループ  様
              .works__ele_txt
                |リクルートムービー【座談会】
        p.works__num.wow.fadeInUp +
          span(countUp="105") 105
          br
          small.works__num--sm CLIENTS
    section.plan#plan
      .page-inner
        h2.plan__ttl.sec__tll.wow.fadeInUp 料金表
          br
          span PLAN
        figure.plan__img.wow.fadeIn
          picture
            source(media="(max-width: 767px)", srcset="../assets/images/top/plan_img01_sp.png")
            img(src="../assets/images/top/plan_img01.png", alt="料金表")
        .plan__cv-btn_wrap.wow.fadeIn
          a.cv-btn(href="#contact") まずは無料相談する
    section.flow#flow
      .page-inner
        h2.flow__ttl.sec__tll.wow.fadeInUp 納品までの流れ
          br
          span FLOW
        ul.flow__list
          li.flow__ele.wow.fadeIn
            .flow__ele_wrap
              h4.flow__ele_ttl STEP
              figure.flow__ele_img
                img(src="../assets/images/top/flow_icon01.svg", alt="ヒアリング")
              p.flow__ele_txt ヒアリング
          li.flow__ele.wow.fadeIn
            .flow__ele_wrap
              h4.flow__ele_ttl STEP
              figure.flow__ele_img
                img(src="../assets/images/top/flow_icon02.svg", alt="ご提案")
              p.flow__ele_txt ご提案
          li.flow__ele.wow.fadeIn
            .flow__ele_wrap
              h4.flow__ele_ttl STEP
              figure.flow__ele_img
                img(src="../assets/images/top/flow_icon03.svg", alt="シナリオ作成")
              p.flow__ele_txt シナリオ作成
          li.flow__ele.wow.fadeIn
            .flow__ele_wrap
              h4.flow__ele_ttl STEP
              figure.flow__ele_img
                img(src="../assets/images/top/flow_icon04.svg", alt="ロケハン")
              p.flow__ele_txt ロケハン
          li.flow__ele.wow.fadeIn
            .flow__ele_wrap
              h4.flow__ele_ttl STEP
              figure.flow__ele_img
                img(src="../assets/images/top/flow_icon05.svg", alt="動画撮影")
              p.flow__ele_txt 動画撮影
          li.flow__ele.wow.fadeIn
            .flow__ele_wrap
              h4.flow__ele_ttl STEP
              figure.flow__ele_img
                img(src="../assets/images/top/flow_icon06.svg", alt="動画編集")
              p.flow__ele_txt 動画編集
          li.flow__ele.wow.fadeIn
            .flow__ele_wrap
              h4.flow__ele_ttl STEP
              figure.flow__ele_img
                img(src="../assets/images/top/flow_icon07.svg", alt="ご納品")
              p.flow__ele_txt ご納品
    section.voice#voice
      .page-inner
        h2.voice__ttl.sec__tll.wow.fadeInUp お客様の声
          br
          span VOICE
        ul.voice__list
          li.voice__ele.wow.fadeIn
            div.voice__ele_wrap
              figure.voice__ele_img 
                img(src="../assets/images/top/voice_photo01.jpg", alt="ビューティーアトリエグループ 担当者様")
              .voice__ele_right
                dl.voice__ele_detail
                  dt Client :
                  dd 
                    b ビューティーアトリエグループ 様
                dl.voice__ele_detail
                  dt Service : 
                  dd リクルート動画制作 
                dl.voice__ele_detail
                  dt Location :
                  dd 栃木県宇都宮市
                dl.voice__ele_detail
                  dt Business :
                  dd 理容・美容サロン経営
                dl.voice__ele_detail
                  dt Comment :
                  dd.comment
                    h4
                      |主な事業内容・サービス内容を教えてください。
                    p
                      |ベーカリー&レストラン
                    .comment_detail
                      h4
                        |主な事業内容・サービス内容を教えてください。
                      p
                        |ベーカリー&レストラン
            p.voice__ele_link
          li.voice__ele.wow.fadeIn
            div.voice__ele_wrap
              figure.voice__ele_img
                img(src="../assets/images/top/voice_photo02.jpg", alt="ビューティーアトリエグループ 担当者様")
              .voice__ele_right
                dl.voice__ele_detail
                  dt Client :
                  dd 
                    b ビューティーアトリエグループ 様
                dl.voice__ele_detail
                  dt Service : 
                  dd リクルート動画制作 
                dl.voice__ele_detail
                  dt Location :
                  dd 栃木県宇都宮市
                dl.voice__ele_detail
                  dt Business :
                  dd 理容・美容サロン経営
                dl.voice__ele_detail
                  dt Comment :
                  dd.comment
                    h4
                      |主な事業内容・サービス内容を教えてください。
                    p
                      |ベーカリー&レストラン
                    .comment_detail
                      h4
                        |主な事業内容・サービス内容を教えてください。
                      p
                        |ベーカリー&レストラン
            p.voice__ele_link
          li.voice__ele.wow.fadeIn
            div.voice__ele_wrap
              figure.voice__ele_img
                img(src="../assets/images/top/voice_photo03.jpg", alt="ビューティーアトリエグループ 担当者様")
              .voice__ele_right
                dl.voice__ele_detail
                  dt Client :
                  dd 
                    b ビューティーアトリエグループ 様
                dl.voice__ele_detail
                  dt Service : 
                  dd リクルート動画制作 
                dl.voice__ele_detail
                  dt Location :
                  dd 栃木県宇都宮市
                dl.voice__ele_detail
                  dt Business :
                  dd 理容・美容サロン経営
                dl.voice__ele_detail
                  dt Comment :
                  dd.commen.comment
                    h4
                      |主な事業内容・サービス内容を教えてください。
                    p
                      |ベーカリー&レストラン
                    .comment_detail
                      h4
                        |主な事業内容・サービス内容を教えてください。
                      p
                        |ベーカリー&レストラン
            p.voice__ele_link
    section.contact#contact
      .page-inner
        h2.voice__ttl.sec__tll お問い合わせ
          br
          span CONTACT
        form.contact__wrap
          ul.contact__branch
            li.contact__branch_ele.active 入力
            li.contact__branch_ele 確認
            li.contact__branch_ele 完了
          .contact__item
            dl.contact__item_ele
              dt お名前
                span.required 必須
              dd
                input(type="text")
            dl.contact__item_ele
              dt メールアドレス
                span.required 必須
              dd
                input(type="text")
            dl.contact__item_ele
              dt ご検討状況
                span.required 必須
              dd
                label.select-label
                  select(name="contact-select")
                    option(value="",selected="selected")
                      |選択してください
                    option(value="お見積り依頼")
                      |お見積り依頼
                    option(value="その他")
                      |その他
            dl.contact__item_ele
              dt ご質問・ご要望
              dd
                textarea(name="")
            dl.contact__item_ele.policy
              dt プライバシーポリシー
              dd
                |株式会社Revision（以下「当社」）は、以下のとおり個人情報保護方針を定め、個人情報保護の仕組みを構築し、全従業員に個人情報保護の重要性の認識と取組みを徹底させることにより、個人情報の保護を推進致します。
                br
                br
                b
                  |個人情報の管理
                br
                |当社は、お客さまの個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備・社員教育の徹底等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。
                br
                br
                b
                  |個人情報の利用目的
                br
                |お客さまからお預かりした個人情報は、当社からのご連絡や業務のご案内やご質問に対する回答として、電子メールや資料のご送付に利用いたします。
                br
                br
                b
                  |個人情報の第三者への開示・提供の禁止
                br
                |当社は、お客さまよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。
                br
                br
                b
                  |お客さまの同意がある場合
                br
                |お客さまが希望されるサービスを行なうために当社が業務を委託する業者に対して開示する場合
                |法令に基づき開示することが必要である場合
                br
                br
                b
                  |個人情報の安全対策
                br
                |当社は、個人情報の正確性及び安全性確保のために、セキュリティに万全の対策を講じています。
                br
                br
                b
                  |ご本人の照会
                |お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。
                br
                br
                b
                  |法令、規範の遵守と見直し
                br
                |当社は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。
                br
                br
                b
                  |お問い合せ
                br
                |個人情報の取扱に関するお問い合せは下記までご連絡ください。
                br
                |株式会社Revision
                br
                |TEL 028-348-1690
            label.contact__item_submit-wrap(for="submit")
              input#submit(type="submit", value="お問い合わせ・ご相談内容を送信")
    footer.footer
      .page-inner
        .footer__wrap
          .footer__left
            figure.footer__left_logo
              img(src="../assets/images/top/footer_logo.svg", alt="N REVISION")
            p.footer__left_txt
              |〒321-0967
              br
              |栃木県宇都宮市錦2丁目7-2
              br
              |ポケットオフィスNISHIKI D
          .footer__right
            ul.footer__right_list
              li.footer__right_ele
                a(href="#strengths")
                  picture
                    source(media="(max-width: 767px)", srcset="../assets/images/common/header_txt01_sp.svg")
                    img(src="../assets/images/common/header_txt01.svg", alt="4つの強み")
              li.footer__right_ele
                a(href="#technique")
                  picture
                    source(media="(max-width: 767px)", srcset="../assets/images/common/header_txt02_sp.svg")
                    img(src="../assets/images/common/header_txt02.svg", alt="動画手法")
              li.footer__right_ele
                a(href="#works")
                  picture
                    source(media="(max-width: 767px)", srcset="../assets/images/common/header_txt03_sp.svg")
                    img(src="../assets/images/common/header_txt03.svg", alt="制作実績")
              li.footer__right_ele
                a(href="#plan")
                  picture  
                    source(media="(max-width: 767px)", srcset="../assets/images/common/header_txt04_sp.svg")
                    img(src="../assets/images/common/header_txt04.svg", alt="料金表")
              li.footer__right_ele
                a(href="#flow")
                  picture
                    source(media="(max-width: 767px)", srcset="../assets/images/common/header_txt05_sp.svg")
                    img(src="../assets/images/common/header_txt05.svg", alt="納品までの流れ")
              li.footer__right_ele
                a(href="#voice")
                  picture
                    source(media="(max-width: 767px)", srcset="../assets/images/common/header_txt06_sp.svg")
                    img(src="../assets/images/common/header_txt06.svg", alt="お客様の声")
              li.footer__right_ele
                a(href="#contact")
                  picture
                    source(media="(max-width: 767px)", srcset="../assets/images/common/header_txt07_sp.svg")
                    img(src="../assets/images/common/header_txt07.svg", alt="お問い合わせ")
            div.footer__right_bnr-wrap
              a.footer__right_bnr.normal(href="https://re-v.co.jp/")
                figure
                  img(src="../assets/images/top/footer_bnr_logo02.svg", alt="株式会社Revisionコーポレートサイト")
                |株式会社Revisionコーポレートサイト
              a.footer__right_bnr.web(href="https://re-v.co.jp/web/")
                figure
                  img(src="../assets/images/top/footer_bnr_logo01.svg", alt="Web制作サイト【Revision Web】")
                |Web制作サイト【Revision Web】
      p.footer__copyright
        |© 2020 宇都宮の動画制作 Revision All Rights Reserved.
  script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js", type="text/javascript")
  script(src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver", type="text/javascript")
  script(src="../js/app.js", type="text/javascript")